@model LG.Treinamento.Negocio.Models.Funcionario

@{
    ViewBag.Title = "Detalhes | Funcionário";
}

<h2>Detalhes</h2>

<div>
    <h4>Funcionário</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SobreNome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SobreNome)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Voltar", "Index")
</p>
